DB_NAME=mastergateway
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_HOSTNAME=localhost

JWT_SECRET=jwtsecret
JWT_EXPIRE_IN_MINUTES=5
TEMP_TOKEN_EXPIRE_IN_MINUTES=2
REFRESH_TOKEN_EXPIRE_IN_DAYS=7

INTERNAL_SERVICES_SECRET=internalservicessecret
